---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.tsx";
import "../../styles/globals.css";

export async function getStaticPaths() {
  const websites = await getCollection("websites");
  return websites.map((website: CollectionEntry<"websites">) => {
    return {
      params: { slug: website.slug },
      props: {
        website: website.data,
        body: website.body,
        collection: website.collection,
        content: website,
      },
    };
  });
}

interface Props {
  website: {
    title: string;
    description: string;
    url: string;
    favicon?: string;
    image?: string;
    tags: string[];
    lastReviewAt: string;
  };
  body: string;
  collection: string;
  content: CollectionEntry<"websites">;
}

const { website, body, collection, content }: Props = Astro.props;
const { Content } = await content.render();
---

<Layout title={website.title}>
  <main class="flex min-h-screen flex-col">
    <Navbar />
    <section
      class="container mx-auto mt-16 rounded-lg bg-background p-4 px-4 py-16 text-foreground shadow md:px-8"
    >
      <div class="flex h-9 w-full items-center gap-2">
        <div>
          <img
            src={website.favicon ||
              "https://placehold.co/400?text=No%20Picture"}
            alt={website.title ?? "missing website title"}
            class="w-full rounded object-cover"
          />
        </div>
      </div>
      <img src={website.image} alt={website.title} class="py-10 max-w-full rounded" />
      <h1 class="text-2xl font-bold py-10">{website.title}</h1>
      <a href={website.url} target="_blank" rel="noopener noreferrer">
        Visit Website
      </a>
      <p class="text-sm py-5">{website.description}</p>
      <p class="text-xs py-5">Tags: {website.tags.join(", ")}</p>
    </section>
  </main>
</Layout>
