---
interface Props {
  website: {
    data: {
      url: string;
      title: string;
      description?: string;
      tags: string[];
      favicon?: string;
      image?: string;
      desktopSnapshot?: string;
      lastReviewAt: string | Date;
    };
    slug: string;
  };
}

const { website } = Astro.props;
import { Badge } from "./ui/badge.tsx";
import {cn} from "../lib/utils.ts"
---

<a
  href={`/source/${website.slug}`}
  class={cn(
    'rounded bg-background p-4 shadow',
    'flex flex-col gap-4',
  )}
>
  <div class="flex gap-2">
    <div class="h-12 w-12 bg-muted p-2">
      <img
        src={
          website.data.favicon || 'https://placehold.co/400?text=No%20Picture'
        }
        alt={website.data.title ?? 'missing website title'}
        class="aspect-square w-full rounded object-cover"
      />
    </div>
    <p class="flex-1 text-sm font-semibold">{website.data.title}</p>
  </div>
  {website.data.desktopSnapshot && (
    <img src={website.data.desktopSnapshot} alt="website screenshot" />
  )}
  <div class="flex flex-1 flex-col justify-between gap-2">
    <div class="flex flex-col gap-1">
      <p class="line-clamp-3 text-xs text-muted-foreground">
        {website.data.description}
      </p>
      <div class="flex flex-wrap gap-1">
        {website.data.tags.map((tag: string) => (
          <Badge className="px-1 py-0">{tag}</Badge>
        ))}
      </div>
    </div>
    <div>
      <span class="text-muted-foreground text-xs">
        Last reviewed at{' '}
        <span class="font-medium">{website.data.lastReviewAt}</span>
      </span>
    </div>
  </div>
</a>